# Python Essentials - Day 2 Assignment

Basic Python Syntax

In [1]:
print("Hello Python")

Hello Python

In [2]:
# Formatting python syntax Using


# Back Slash - "\" Used for continuation

print("Hello\python")
print("Hello \ python")

Hello\python
Hello \ python

In [3]:
# \ - back slash with single quotes while using 's - writing in english language

print('Let\'s Upgrade')

Let's Upgrade

In [4]:
# \n  - for new line (New Line Creator / Line separater/ Enter)

print('Hello\nWorld')

Hello
World

In [5]:
# \t - tab for space

print("Hello\tPython")

Hello	Python

In [6]:
# \a  - Used as alaram                              # Not working in Jupyter Notebook

print("Hello\a")

Hello

In [7]:
# Formatting python syntax Using - Triple Quotes ("""_______ """     or     '''________''')



print("""Welcome to the World of Python 
""")

Welcome to the World of Python

In [8]:
# Triple Quotes 2
""" (\_/)
( •,•)
(")_(") """

' (\\_/)\n( •,•)\n(")_(") '

In [9]:
# Quotes ( " ",   '  ')

print("Hello World")

print('Hello World')

print("Python's World")

Hello World
Hello World
Python's World

python Variables and Assignment statement

In [10]:
# Formatting python syntax

Name = "Abhimanyu"
Age = 21
Marks = 97.89

print("Name of Student is", Name, "Age: ", Age, "Marks:" , Marks)

Name of Student is Abhimanyu Age:  21 Marks: 97.89

In [11]:
# Formatting python syntaxusing %s %f %d

Name = "Abhimanyu"
Age = 21
Marks = 97.8946

print("Name of Student is %6s Age is %4d and marks are= %8.2f  "%(Name,Age,Marks))

Name of Student is Abhimanyu Age is   21 and marks are=    97.89

In [12]:
# Formatting python syntax using Curly braces {}

Name = "Abhimanyu"
Age = 21
Marks = 97.89

print(f"Name of Student {Name} the Age is {Age} and the Marks are {Marks} " )

Name of Student Abhimanyu the Age is 21 and the Marks are 97.89

______________

## Python Variables


1. Variable means linking a data with a name
2. According to the data type interpreter reserves memory space
3. Variable refers to a memory location that contains the data

###### Rules to Define a Variable:

1. A keyword cannot be used as variable. e.g. "if", "def", "for", etc.
2. A variable can contain letters (Upper / lower case), numbers, and underscore.
3. Python is case sensitive language, hence variables are also case sensitive.
4. A vaiable cannot start with a number.
5. A variable is assigned to a data by using assignment operators.

In [13]:
# Application of rules:
# 1. A keyword cannot be used as variable. e.g. "if", "def", "for", etc.

if = 20
def= "apple"
for=("Apple, Mac, Windows, 8.3.2 ")
print(if)
print(def)
print(for)

SyntaxError: invalid syntax (<ipython-input-13-f3a7c99f43f5>, line 4)

In [14]:
# 2. A variable can contain letters (Upper / lower case), numbers, and underscore.

A=21
num1= "Apple"
_45= ("Apple",23.60, 32)

print(A)
print(num1)
print(_45)

21
Apple
('Apple', 23.6, 32)

In [15]:
# 3. Python is case sensitive language, hence variables are also case sensitive.

A=21

print(a)

NameError: name 'a' is not defined

In [16]:
# 4. A vaiable cannot start with a number.

47= "Python is case sensitive language"

print(47)

SyntaxError: can't assign to literal (<ipython-input-16-88c7642cdce9>, line 3)

In [17]:
# Python Assignment statement
x=10
y=20
z=10
print(x)
print(y)
print(z)


id(x)

10
20
10

8791198769840

In [18]:
id(y)
id(z)

8791198769840

__________________

## Python Operators

1. Arithematic Operators
2. Comparison operators
3. Assignment operators
4. Bitwise Operators
5. Logical operators
6. Membership operators
7. Identity Operators

1. Arithematic Operators:

Operator	  Name	
1. '+'	      Addition	
2. '-'	      Subtraction
3. '*'	      Multiplication	
4. /	      Division	
5. %          Modulus	
6. **	      Exponentiation	
7. //	      Floor division

In [19]:
# 1. Addition

x = 15
y = 30

print(x + y)

45

In [20]:
# 2. -  Subtraction

x = 50
y = 30

print(x - y)

20

In [21]:
# 3. *   Multiplication

x = 10
y = 4

print(x * y)

40

In [22]:
# 4. /    Division

x = 12
y = 3

print(x / y)

4.0

In [23]:
# 5. %  Modulus

x = 5
y = 2

print(x % y)

1

In [24]:
# 6. ** Exponentiation

x = 2
y = 4

print(x ** y) #same as 2*2*2*2

16

In [25]:
# 7. // Floor Division

x = 15
y = 2

print(x // y)

7

________

2. Assignment operators

Operator

1. =
2. +=
3. -=
4. *=
5. /=
6. %=
7. //=
8. **=
9. &=
10. |=
11. ^=
12. '>>='
13. '<<='

In [26]:
# 1.   =  operator

x = 50

print(x)

50

In [27]:
# 2. +=

x = 50

x += 30

print(x)

80

In [28]:
# 3. -=

x = 50

x -= 30

print(x)

20

In [29]:
# 4. *=

x = 15

x *= 3

print(x)

45

In [30]:
# 5. /=

x = 15

x /= 3

print(x)

5.0

In [31]:
# 6. %=

x = 5

x%=3

print(x)

2

In [32]:
# 7. //=


x = 5

x//=3

print(x)

1

In [33]:
# 8. **=

x = 5

x **= 3

print(x)

125

In [34]:
# 9. &=
x = 10

x &= 6

print(x)

2

In [35]:
# 10. |=     

x = 5

x |= 3

print(x)

7

In [36]:
# 11. ^=

x = 5

x ^= 3

print(x)

6

In [37]:
# 12. >>=         # same as  x = x >> 3

x = 5

x >>= 3

print(x)

0

In [38]:
# 13. <<=        #  Same as x = x << 3

x = 5

x <<= 3

print(x)

40

_________________________

3. Comparison operators

Operator	Name	
1. ==	Equal	
2. !=	Not equal	
3. '>'	Greater than	
4. '<'	Less than	
5. '>='	Greater than or equal to	
6. '<='	Less than or equal to

In [39]:
# 1. == - Equal operator

x = 15
y = 30

print(x == y)

False

In [40]:
# 2. !=   Not Equal

x = 15
y = 30

print(x != y)

True

In [41]:
# 3. >  Greater than operator

x = 15
y = 30

print(x > y)
print(y > x)

False
True

In [42]:
# 4. <  Less than operator
x = 15
y = 30

print(x < y)
print(y < x)

True
False

In [43]:
# 5. >=    Greater than or equal to	
x = 50
y = 30

print(x >= y)

True

In [44]:
# 6. <=   Less than or equal to

x = 50
y = 30

print(x <= y)

False

_________________

4. Logical operators

Operator	Description
1. 'and' 	    Returns True if both statements are true
2. 'or'	    Returns True if one of the statements is true
3. 'not'	    Reverse the result, returns False if the result is true

In [45]:
# 1. and - operator

x = 15

print(x > 3 and x < 20)

True

In [46]:
#. or - operator

x = 15

print(x > 30 or x < 4)
print(x > 3 or x < 4)

False
True

In [47]:
# 3. not - operator

x = 5

print(not(x > 3 and x < 10))

print(not(x > 30 or x < 4))

False
True

______________

5. Bitwise Operators


Operator	Name	                Description
1. & 	    AND	                    Sets each bit to 1 if both bits are 1
2. |	    OR	                    Sets each bit to 1 if one of two bits is 1
3. ^	    XOR	                    Sets each bit to 1 if only one of two bits is 1
4. ~ 	    NOT	                    Inverts all the bits
5. '<<'	    Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. '>>'	    Signed right shift	    Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost                                       bits fall off

In [48]:
# 1. &  -  AND operator

x = 120

y = 2

print(x & y)

0

In [49]:
# 2. |   - OR operator

x = 120

y = 2

print(x | y)

122

In [50]:
# 3. ^     - XOR  operator
x = 120

y = 2

print(x ^ y)

122

In [51]:
# 4. ~     NOT

x = 120

y = 2

print(~x)
print(~y)

-121
-3

In [52]:
# 5. <<    Zero fill left shift

x = 10
print(x << 1)


y = -10
print(y << 1)

20
-20

In [53]:
# 6. >>    Signed right shift

x = 10
print(x >> 1)


y = -10
print(y >> 1)

5
-5

_________

6. Membership operators


Operator	             Description	
1. in 	                 Returns True if a sequence with the specified value is present in the object	
2. not in	             Returns True if a sequence with the specified value is not present in the object

In [54]:
# 1. in operator

x = ["apple", "Mac", "Linux", "Windows"]

print("Mac" in x)

True

In [55]:
# 2. not in operator

x = ["apple", "Mac", "Linux", "Windows"]

print("apple" not in x)
print("pineapple" not in x)

False
True

7. Identity Operators

Operator	      Description	
1. 'is' 	          Returns True if both variables are the same object
2. 'is not'	      Returns True if both variables are not the same object

In [56]:
# 1. is - operator

x = ["apple", "Mac", "Linux", "Windows"]
y = ["apple", "Mac", "Linux", "Windows"]
z = x

print(x is z)

True

In [57]:
# 2. is not - 

x = ["apple", "Mac", "Linux", "Windows"]
y = ["apple", "Mac", "Linux", "Windows"]
z = x

print(x is not z)

False

___________________

***